<ion-header>
  <ion-toolbar>
    
    <!-- <ion-buttons slot="start"> -->
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button slot="start"></ion-back-button>
    <!-- </ion-buttons> -->
    <ion-title>liste des Apprenant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list *ngFor="let app of listApprenants" >
  <ion-item>
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>{{app.apprenantNom}} {{app.apprenantPrenom}}</ion-label>
  </ion-item>
</ion-list>
</ion-content>
